$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

//@import 'sass-bootstrap/lib/bootstrap';


/********************************
        GENERAL
*********************************/

* {
    outline: 0; 
}


body { 
    font-family: 'Abel', sans-serif; 
    color: #4b4b4b; 
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2); 
    font-size: 24px;
    /** To edit this background, follow this link:
        http://svgeneration.com/generate/Zags?width=100&background=ffffff&color1=f5f5f5&color2=fbfbfb&color3=f5f5f5&
        */

    background-color: #ffffff;background-image:url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHhtbG5zOnhsaW5rPSdodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rJyB3aWR0aD0nMTAwJyBoZWlnaHQ9JzUwJz4KCTxkZWZzPgoJCTxnIGlkPSdsaW5lcyc+CgkJCTxsaW5lIHgxPScwJyB5MT0nMCcgeDI9JzIwJyB5Mj0nMjUnIHN0cm9rZS13aWR0aD0nMScgc3Ryb2tlPScjZjBmMGYwJy8+CgkJCTxsaW5lIHgxPScxNScgeTE9JzAnIHgyPSczNScgeTI9JzI1JyBzdHJva2Utd2lkdGg9JzEnIHN0cm9rZT0nI2YyZjJmMicvPgoJCQk8bGluZSB4MT0nMzAnIHkxPScwJyB4Mj0nNTAnIHkyPScyNScgc3Ryb2tlLXdpZHRoPScxJyBzdHJva2U9JyNlZGVkZWQnLz4KCQk8L2c+Cgk8L2RlZnM+Cgk8cmVjdCB4PSctMTAlJyB5PSctMTAlJyB3aWR0aD0nMTIwJScgaGVpZ2h0PScxMjAlJyBmaWxsPScjZmZmZmZmJy8+Cgk8dXNlIHhsaW5rOmhyZWY9JyNsaW5lcycgeD0nNTAnIHk9JzI1JyAvPgoJPHVzZSB4bGluazpocmVmPScjbGluZXMnIHg9JzUwJyB5PSctMjUnIHRyYW5zZm9ybT0nbWF0cml4KDEgMCAwIC0xIDAgMCknLz4KCTx1c2UgeGxpbms6aHJlZj0nI2xpbmVzJyAgLz4KCTx1c2UgeGxpbms6aHJlZj0nI2xpbmVzJyB4PScwJyB5PSctNTAnIHRyYW5zZm9ybT0nbWF0cml4KDEgMCAwIC0xIDAgMCknLz4gIAo8L3N2Zz4=');
}


h1,h2,h3 {
    font-family: 'Unica One'
}

.container {
    position: relative;
    margin-top: 13em;
}

.container > header, .main section > div {
    width: 90%;
    max-width: 69em;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: rgb(66, 131, 182);
}

#content {
    width: 85%;
    margin: 0 auto;
}

#blog a:hover{
    border:0;
    cursor:pointer;
}
#blog a i:hover{
    color:#ff5400;
}

header h1{
    text-shadow: 2px 3px 8px #04283b;
    filter: dropshadow(color=#04283b, offx=5, offy=5);
    color: #048688;
}

nav a{

}

input[type="text"] { 
    width: 400px; 
}
textarea { 
    width: 750px; 
    height: 275px; 
}
label { 
    color: #ff5400; 
}
input, textarea { 
    background-color: rgba(255, 255, 255, 0.4); 
    border: 5px solid rgba(66, 131, 182, 0.15); 
    padding: 10px; 
    font-family: Keffeesatz, Arial; 
    color: #4b4b4b; 
    font-size: 24px; 
    -webkit-border-radius: 5px; 
    border-radius: 5px; 
    margin-bottom: 15px; 
    margin-top: -10px; 
}
input:focus, textarea:focus { 
    border: 5px solid rgb(66, 131, 182);
    background-color: rgba(255, 255, 255, 1);
}

.btn {
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 25px 80px;
    display: inline-block;
    margin: 15px 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    border: 5px solid rgba(66, 131, 182, 0.15); 
    color: #ff5400;
}

.btn:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.btn:before,
.icon-heart:after,
.icon-star:after,
.icon-plus:after,
.icon-file:before {
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    position: relative;
    -webkit-font-smoothing: antialiased;
}

/* Button 1e */
.btn-animated {
    overflow: hidden;
}

.btn-animated:after {
    width: 100%;
    height: 0;
    top: 50%;
    left: 50%;
    background: rgba(66, 131, 182, 0.15); 
    opacity: 0;
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
}

.btn-animated:hover,
.btn-animated:active {
    font-weight:bold;
}

.btn-animated:hover:after {
    height: 260%;
    opacity: 1;
}

.btn-animated:active:after {
    height: 400%;
    opacity: 1;
}

.container_centered{
     width:100%;
}

.centered{
   margin:auto; 
}

#recaptcha{
    float: left;
}


/********************************
        HEADER
*********************************/

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
}

.cbp-af-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    //background: #f6f6f6;
    /** To edit this background, follow this link:
    http://svgeneration.com/generate/Zags?width=100&background=ffffff&color1=f5f5f5&color2=fbfbfb&color3=f5f5f5&
    */
    background-color: #ffffff;background-image:url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHhtbG5zOnhsaW5rPSdodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rJyB3aWR0aD0nMTAwJyBoZWlnaHQ9JzUwJz4KCTxkZWZzPgoJCTxnIGlkPSdsaW5lcyc+CgkJCTxsaW5lIHgxPScwJyB5MT0nMCcgeDI9JzIwJyB5Mj0nMjUnIHN0cm9rZS13aWR0aD0nMScgc3Ryb2tlPScjZjVmNWY1Jy8+CgkJCTxsaW5lIHgxPScxNScgeTE9JzAnIHgyPSczNScgeTI9JzI1JyBzdHJva2Utd2lkdGg9JzEnIHN0cm9rZT0nI2ZiZmJmYicvPgoJCQk8bGluZSB4MT0nMzAnIHkxPScwJyB4Mj0nNTAnIHkyPScyNScgc3Ryb2tlLXdpZHRoPScxJyBzdHJva2U9JyNmNWY1ZjUnLz4KCQk8L2c+Cgk8L2RlZnM+Cgk8cmVjdCB4PSctMTAlJyB5PSctMTAlJyB3aWR0aD0nMTIwJScgaGVpZ2h0PScxMjAlJyBmaWxsPScjZmZmZmZmJy8+Cgk8dXNlIHhsaW5rOmhyZWY9JyNsaW5lcycgeD0nNTAnIHk9JzI1JyAvPgoJPHVzZSB4bGluazpocmVmPScjbGluZXMnIHg9JzUwJyB5PSctMjUnIHRyYW5zZm9ybT0nbWF0cml4KDEgMCAwIC0xIDAgMCknLz4KCTx1c2UgeGxpbms6aHJlZj0nI2xpbmVzJyAgLz4KCTx1c2UgeGxpbms6aHJlZj0nI2xpbmVzJyB4PScwJyB5PSctNTAnIHRyYW5zZm9ybT0nbWF0cml4KDEgMCAwIC0xIDAgMCknLz4gIAo8L3N2Zz4=');

    z-index: 10000;
    height: 230px;
    overflow: hidden;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    transition: height 0.3s;
}
 
.cbp-af-header .cbp-af-inner {
    width: 90%;
    max-width: 69em;
    margin: 0 auto;
    padding: 0 1.875em;
}
 
.cbp-af-header h1,
.cbp-af-header nav {
    display: inline-block;
    position: relative;
}
 
 /* We just have one-lined elements, so we'll center the elements with the line-height set to the height of the header */
.cbp-af-header h1,
.cbp-af-header nav a {
    line-height: 230px;
}
 
.cbp-af-header h1 {
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 4em;
    margin: 0;
    float: left;
}
 
.cbp-af-header nav {
    float: right;
}
 
.cbp-af-header nav  {
    //color: #aaa;
    
    font-weight: 700;
    margin: 0 0 0 20px;
    font-size: 1.4em;
}

.cbp-af-header nav a {
    color: #ff5400;
}
 
.cbp-af-header nav a:hover {
    //color: #333;
}
 
/* Transitions and class for reduced height */
.cbp-af-header h1,
.cbp-af-header nav a {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
 
.cbp-af-header.cbp-af-header-shrink {
    height: 90px;
}
 
.cbp-af-header.cbp-af-header-shrink h1,
.cbp-af-header.cbp-af-header-shrink nav a {
    line-height: 90px;
}
 
.cbp-af-header.cbp-af-header-shrink h1 {
    font-size: 2em;
}
 
/* Example Media Queries */
@media screen and (max-width: 55em) {
     
    .cbp-af-header .cbp-af-inner {
        width: 100%;
    }
 
    .cbp-af-header h1,
    .cbp-af-header nav {
        display: block;
        margin: 0 auto;
        text-align: center;
        float: none;
    }
 
    .cbp-af-header h1,
    .cbp-af-header nav a {
        line-height: 115px;
    }
 
    .cbp-af-header nav a {
        margin: 0 10px;
    }
 
    .cbp-af-header.cbp-af-header-shrink h1,
    .cbp-af-header.cbp-af-header-shrink nav a {
        line-height: 45px;
    }
 
    .cbp-af-header.cbp-af-header-shrink h1 {
        font-size: 2em;
    }
 
    .cbp-af-header.cbp-af-header-shrink nav a {
        font-size: 1em;
    }
}
 
@media screen and (max-width: 32.25em) {
    .cbp-af-header nav a {
        font-size: 1em;
    }
}
 
@media screen and (max-width: 24em) {
    .cbp-af-header nav a,
    .cbp-af-header.cbp-af-header-shrink nav a {
        line-height: 1;
    }
}

/********************************
        SCROLL
*********************************/
.cbp-so-scroller {
    margin-top: 50px;
    overflow: hidden;
}
 
.cbp-so-section {
    margin-bottom: 15em;
    position: relative;
    min-height: 1000px;
}
 
/* Clear floats of children */
.cbp-so-section:before,
.cbp-so-section:after {
    content: " ";
    display: table;
}
 
.cbp-so-section:after {
    clear: both;
}
 
/* Text styling */
.cbp-so-section h2 {
    font-size: 5em;
    font-weight: 300;
    line-height: 1;
    color: #ff5400;

}
 
.cbp-so-section p {
    font-size: 1.2em;
    font-weight: 300;
    text-align: justify;
}
 
/* Sides */
.cbp-so-side {
    //width: 50%;
    width: 46%;
    float: left;
    margin: 0;
    padding: 3em 2%;
    overflow: hidden;
    min-height: 12em;
}
 
/* Clear floats of children */
.cbp-so-side:before,
.cbp-so-side:after {
    content: " ";
    display: table;
}
 
.cbp-so-side:after {
    clear: both;
}
 
.cbp-so-side-right {
    text-align: left;
}
 
.cbp-so-side-left {
    text-align: right;
}
 
.cbp-so-side-right img {
    float: left;
}
 
.cbp-so-side-left img {
    float: right;
}
 
/* Initial state (hidden or anything else) */
.cbp-so-init .cbp-so-side {
    opacity: 0;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
}
 
.cbp-so-init .cbp-so-side-left {
    -webkit-transform: translateX(-80px);
    -moz-transform: translateX(-80px);
    transform: translateX(-80px);
}
 
.cbp-so-init .cbp-so-side-right {
    -webkit-transform: translateX(80px);
    -moz-transform: translateX(80px);
    transform: translateX(80px);
}
 
/* Animated state */
/* add you final states (transition) or your effects (animations) for each side */
.cbp-so-section.cbp-so-animate .cbp-so-side-left,
.cbp-so-section.cbp-so-animate .cbp-so-side-right {
    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
    -moz-transition: -moz-transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 1;
}
 
/* For example, add a delay for the right side:
.cbp-so-section.cbp-so-animate .cbp-so-side-right {
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    transition-delay: 0.2s;
}
*/
 
/* Example media queries */
 
@media screen and (max-width: 73.5em) {
    .cbp-so-scroller {
        font-size: 65%;
    }
 
    .cbp-so-section h2 {
        margin: 0;
    }
 
    .cbp-so-side img {
        max-width: 120%;
    }
}
 
@media screen and (max-width: 41.125em) {
    .cbp-so-side {
        float: none;
        width: 100%;
    }
 
    .cbp-so-side img {
        max-width: 100%;
    }
}



